<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">Cryptoprices</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard" [ngClass]="this.url == 'home' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Coin" [ngClass]="this.url == 'coin' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}user">
          <i class="fa fa-fw fa-users"></i>
          <span class="nav-link-text">Users</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Coin" [ngClass]="this.url == 'coin' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}coin">
          <i class="fa fa-fw fa-btc"></i>
          <span class="nav-link-text">Coin</span>
        </a>
      </li>
      <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Support" [ngClass]="this.url == 'support' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}support">
          <i class="fa fa-fw fa-info"></i>
          <span class="nav-link-text">Support</span>
        </a>
      </li> -->
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Message" [ngClass]="this.url == 'message' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}message">
          <i class="fa fa-fw fa-envelope-o"></i>
          <span class="nav-link-text">Message</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="SEO" [ngClass]="this.url == 'seo' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}seo">
          <i class="fa fa-fw fa-link"></i>
          <span class="nav-link-text">SEO</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="SEO" [ngClass]="this.url == 'seo' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}news">
          <i class="fa fa-fw fa-newspaper-o"></i>
          <span class="nav-link-text">News</span>
        </a>
      </li>
      <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Advertise" [ngClass]="this.url == 'advertise' ? 'active' : ''">
        <a class="nav-link" href="{{urlString}}advertise">
          <i class="fa fa-fw fa-adn"></i>
          <span class="nav-link-text">Advertise</span>
        </a>
      </li> -->
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="destroyUser()">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>